/* Background */
.bg 
{
  /* Paint full background with bottom color of the Background.png */
  background-color: #3B4F61;
}

/* Background Image */
.bg_image
{
  /* Address */
  background-image: url('../images/Background.png');

  /* Center and scale the image nicely */
  padding-bottom: 50%;
  background-size: cover;
  background-color: #3B4F61;
}

/* Division Hover */
.div_hover 			{ background-color: #343A40; }
.div_hover:hover 	{ background-color: #EEF1F4; }

/* Text */
.text_box
{
	padding-top: 8rem;
}

/* Hyperlink with a font */
a.rockwell {
  font-family: "Rockwell";
}

/* Paragraph with a font */
p.rockwell {
  font-family: "Rockwell";
}